In [7]:
import pandas as pd
from sqlalchemy import create_engine

In [8]:
def rentals_month(engine, month, year):
    # Ensure the month is formatted as two digits
    month_str = str(month).zfill(2)
    year_str = str(year)
    
    query = f"""
    SELECT rental_id, rental_date, inventory_id, customer_id, return_date, staff_id, last_update
    FROM rental
    WHERE MONTH(rental_date) = {month_str} AND YEAR(rental_date) = {year_str};
    """
    
    # Execute the query and return the results as a DataFrame
    with engine.connect() as connection:
        df = pd.read_sql(query, connection)
    
    return df

In [9]:
def rental_count_month(rentals_df, month, year):
    # Ensure the month is formatted as two digits
    month_str = str(month).zfill(2)
    year_str = str(year)
    
    # Group by customer_id and count the number of rentals
    rental_count = rentals_df.groupby('customer_id').size().reset_index(name=f'rentals_{month_str}_{year_str}')
    
    return rental_count

In [10]:
def compare_rentals(df1, df2):
    # Merge the two DataFrames on customer_id
    merged_df = pd.merge(df1, df2, on='customer_id', how='outer', suffixes=('_month1', '_month2'))
    
    # Fill NaN values with 0
    merged_df.fillna(0, inplace=True)
    
    # Calculate the difference between the two rental counts
    merged_df['difference'] = merged_df.iloc[:, 1] - merged_df.iloc[:, 2]
    
    return merged_df

In [13]:
# Example usage
if __name__ == '__main__':
    # Replace with your actual database connection details
    engine = create_engine('mysql+pymysql://username:12345678d@localhost/sakila')
    
    # Retrieve rental data for May 2005 and June 2005
    rentals_may_2005 = rentals_month(engine, 5, 2005)
    rentals_jun_2005 = rentals_month(engine, 6, 2005)
    
    # Count the number of rentals per customer for each month
    rental_count_may_2005 = rental_count_month(rentals_may_2005, 5, 2005)
    rental_count_jun_2005 = rental_count_month(rentals_jun_2005, 6, 2005)
    
    # Compare the rental counts between the two months
    comparison_df = compare_rentals(rental_count_may_2005, rental_count_jun_2005)
    
    # Display the comparison DataFrame
    print(comparison_df)

ModuleNotFoundError: No module named 'pymysql'